recursive-include doc/build/html *
include doc/build/latex/masa.pdf

recursive-include tests/ *
recursive-exclude tests/__pycache__/ *
exclude tests/__init__.pyc

exclude .coverage
exclude .gitignore

include README.md
include COPYING

